* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(255, 255, 255);
}

#pfp {
    height: 200px;
    width: auto;
    border: 2px brown;
    border-radius: 10px;
    background-color: brown;
}

#body-div {
    box-sizing: border-box;
    width: 70%;
    height: auto;
    margin: auto;
    padding: 30px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 10px 10px white;
    text-align: center;
}

#darkbtn {
    border: 0px;
}

.dark-mode {
    background-color: black;
    color: white;

    #body-div {
        background-color: brown;
        box-shadow: 10px 10px darkgoldenrod;
        color: white;
    }

    #pfp {
        background-color: darkgoldenrod;
        border: 2px solid darkgoldenrod;
    }